*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url();
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}
.container{
    background-color: cyan;
    border-radius: 10px;
    overflow: hidden;
    width: calc(100vw - 65vw);
    max-width: 100%;
}
.header{
    background: #1cf508;
    padding: 30px 0;
}
.header h2{
    color: #222;
    font-family: helvetica;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.form {
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: arial;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    margin-bottom: 15px;
}
.form-control input:focus{
    outline: none;
    border-color: #777;
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control img{
    position: absolute;
    top: 35px;
    right: 10px;
    height: 20px;
    visibility: hidden;
}
.form-control.success .check{
    visibility: visible;
    color: #2ecc71;
}
.form-control.error .exclamation{
    visibility: visible;
    color: #e74c3C;
}
.form-control small{
    color: #e74c3c;
    bottom: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form .btn{
    background: #1cf508;
    border-radius: 6px;
    outline: none;
    border: none;
    color: darkmagenta;
    font-size: 16px;
    font-family: arial;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 1s ease;
}
.form .btn:hover{
    background: linear-gradient(to right, #74eb45, #9face6);
}

@media(max-width:998px){
    .container{
        width: calc(100vw - 35vw);
        max-width: 100%;
    }
}